<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'voting.css') }}" media="screen"/>
    <script src="{{ url_for('static', filename = 'votingjs.js') }}" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
    <div class="main-cont">
        <nav class="navbar navbar-light bg-dark ">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/control">Control</a>
                <a href="/results">Results</a>
                <a href="/addC">Add Candidate</a>
                <a href="/deleteC">Remove Candidate</a>
                <a href="/viewC">List of Candidate</a>
                <a href="/addV">Add Voter</a>
                <a href="/deleteV">Remove Voter</a>
                <a href="/viewV">List of Voters</a>
            </div>
            <span style="font-size:30px;cursor:pointer;color:white" onclick="openNav()">&#9776;</span>
            <span class="navbar-brand mb-0 h1 text-white ml-auto mr-auto">AdminPortal</span>
        </nav>
        <div class="container">
            <div class="row d-flex flex-row justify-content-center">
                <div class="cont col-md-6 p-0">
                    <div class="maincont p-5 d-flex flex-column justify-content-center" id="mcont">
                        <div id="remcand">
                            <form class="form" action="/deleteC", method="post", autocomplete="on">
                            <label class="lab">Candidate Id</label>
                            <input type="text" name="id" placeholder="Enter your Id" class="input-box mb-2 p-2">
                            <div class="text-center">
                                <button class="btn btn-secondary bg-dark c-btn text-center mb-4">Submit</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>